/* Space on top of the main title */
h1 {
  padding-top: 50px;
}

/* Space on top of titles of level 2 and 3 */
h2, h3 {
    padding-top: 84px;
}

/* Space on top of the description */
.description {
  padding-top: 50px; 
}

/* Link font color */
a {
    color: #69b3a2;
}

/* TOC color (left border and font color) */
.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 2px solid #69b3a2;
    color: #69b3a2 !important;
}

/* Make the "Show code" buttons very discrete (size and transparency) */
details > summary {
    font-size: 12px;
    opacity: .5;
}

.callout-gradient > div.callout-note.callout-style-default>.callout-header {
    background-image: linear-gradient(to right, #eed5ee, #FFFFFF);
}

.callout-gradient > div.callout-note.callout {
    border-left-color: #7D13BA;
}
